.home-banner-area {
  transition: background-image 2s ease-in-out;
}
.home-banner-area .overlay {
  background: url(../img/grid2.png) repeat center;
}
.banner-area .overlay {
  /* background: url(../img/grid1.png) repeat center;*/
}

.hb2 {
  background: url(../img/header-bg2.jpg) no-repeat center center/cover;
}
.hb3 {
  background: url(../img/header-bg3.jpg) no-repeat center center/cover;
}
.hb4 {
  background: url(../img/header-bg4.jpg) no-repeat center center/cover;
}
.hb5 {
  background: url(../img/header-bg5.jpg) no-repeat center center/cover;
}
.hb1 {
  background: url(../img/header-bg1.jpg) no-repeat center center/cover;
}
.banner-area {
  transition: background-image 1s ease-in-out;
}
.bannerimg1 {
  /*  background: url(../img/corp3.jpg) no-repeat center center/cover;
*/
  background: url(../img/header-bg2.jpg) no-repeat center center/cover;
}
.bannerimg2 {
  background: url(../img/com.jpg) no-repeat center center/cover;
}
.bannerimg3 {
  background: url(../img/house3.jpg) no-repeat center center/cover;
}
.bannerimg4 {
  background: url(../img/pg8.jpg) no-repeat center center/cover;
}
.bannerimg5 {
  background: url(../img/hot2a.jpg) no-repeat center center/cover;
}
.bannerimg6 {
  background: url(../img/resto7.jpg) no-repeat center center/cover;
}
.bannerimg {
  background: url(../img/header-bg1.jpg) no-repeat center center/cover;
}
