.input-range__track {
  border-radius: 0rem !important;
  height: 1rem !important;
}
.input-range__track--active {
  background: #c92927 !important;
}
.input-range__slider {
  background: #5d2816 !important;
  border: none !important;
  margin-top: -1rem !important;
  border-radius: 0 !important;
}
.input-range__label {
  color: white !important;
  /* font-weight: bold !important; */
}
.input-range__label--min,
.input-range__label--max {
  bottom: -1.6rem !important;
}
.input-range__label--max {
  right: 1.6rem !important;
}
.input-range__label--min {
  left: 1rem !important;
}
.input-range__label--value {
  top: -2.1rem !important;
}
.input-serach-ptype {
  margin-top: 55px;
}
.toggle-wrap {
  margin-bottom: 0px;
}
@media (max-width: 991px) {
  .input-serach-ptype {
    margin-top: 0;
  }
}
